* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #2691d9;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  background: #444;
}

.sidebar ul li:first-child {
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.sidebar ul li:first-child:hover {
  background: none;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}

.sidebar .title {
  padding: 0 10px;
  font-size: 20px;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  min-height: 100vh;
  left: 300px;
  background: #f5f5f5;
}

.top-bar {
  position: fixed;
  height: 60px;
  width: calc(100% - 300px);
  background: #fff;
  display: grid;
  grid-template-columns: 10fr 0.4fr 1fr;
  grid-gap: 5px;
  align-items: center;
  color: #444;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}


@media(max-width:1090px) {
  .sidebar {
      width: 60px;
  }
  .main {
      width: calc(100% - 60px);
      left: 60px;
  }
  .top-bar {
      width: calc(100% - 60px);
  }
}

.content form .user-details{
  padding: 15px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-name{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .input-name span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-name input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  
}
#getcode{
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #000000, #47cebe);


}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
.user-details .input-name input:focus,
.user-details .input-name input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: lightseagreen;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: #2691d9;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}








